<div class="small-card-container">
    <div class="small-card-content">
        <div class="small-card-image">
            <img src="https://s2.glbimg.com/LttsvVoQZGHoIJsmdlXMULY336A=/e.glbimg.com/og/ed/f/original/2019/09/23/ea1e16061bdf92edb111d8808c6741a6.jpg"
                alt="">
        </div>
        <div class="small-card-text">
            <h4>Luke skywalker descobre quem é seu pai!</h4>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
        </div>
    </div>
    <div class="small-card-separadora">
        <hr>
    </div>
</div>
